/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: #00B4DB;
  background: linear-gradient(to right, #0083B0, #09caf4);
  color: white;
  margin: 20px;
}

.ui-button {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 1.3em !important;
}

#border {
  width: 80%;
  height: 100%;
  z-index: -1;
  border-style: solid;
  border-width: thick;
  border-color: white;
  border-radius: 20px;
  padding: 40px;
  padding-top: 0px;
}

#dialog-message {
  font-size: 20px;
  margin: 20px;
}

/*============ FORM ============*/
#form {
}
#titleButton {
  margin: 30px;
  margin-top: 0px;
}
#sponsorButton {
  margin: 30px;
  margin-top: 0px;
}
#randomizeTitleButton {
  margin: 30px;
  margin-top: 0px;
  margin-left: 0px;
}
#randomizeSponsorButton {
  margin: 30px;
  margin-top: 0px;
  margin-left: 0px;
}
textarea {
  font-size: 20px;
}
#titleInput {
  margin: 20px;
}
#sponsorInput {
  margin: 20px;
}
#randomizeCircle {
  margin-left: 100px;
}

/*============ THUMBNAIL ============*/
#result {
  position: relative;
  border-style: solid;
  border-width: 8px;
  border-radius: 7px;
  border-color: white;
  width: 640px;
  height: 360px;
}

#background {
  filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
}

#titleOutput {
  font-family: 'Bowlby One SC', cursive;
  position: absolute;
  padding: 20px;
  text-align: center;
  left: -10px;
  top: 50px;
  -webkit-transform: rotate(-20deg); /* Safari 3-8 */
  transform: rotate(-20deg);
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: red;
  font-size: 50px;
  height: auto;
  max-width: 450px;
}

#sponsorOutput {
  position: absolute;
  height: auto;
  max-width: 640px;
  bottom: 0;
  color: black;
  font-size: 1.7em;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: white;
  padding: 10px;
}

#circle {
  position: absolute;
  height: 60px;
  width: 60px;
  right: 0px;
  bottom: 0px;
  border-style: solid;
  border-width: 10px;
  border-radius: 1000px;
  border-color:red;
  margin: 20px;
}
