/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700');

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: #00B4DB;
  background: linear-gradient(to right, #0083B0, #09caf4);
  color: white;
  margin: 40px;
}

#click-to-begin {
  text-align: center;
  margin: 20%;
}

#form {
}

#titleButton {
  margin: 35px;
  margin-top: 0px;
}
#sponsorButton {
  margin: 35px;
  margin-top: 0px;
}
#titleInput {
  margin: 30px;
}
#sponsorInput {
  margin: 30px;
}

#result {
  position: relative;
  border-style: solid;
  border-width: 8px;
  border-radius: 7px;
  border-color: white;
  width: 640px;
  height: 360px;
}

#titleOutput {
  position: absolute;
  padding: 20px;
  left: 5px;
  top: 30px;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari 3-8 */
  transform: rotate(-20deg);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: red;
  font-size: 60px;
  height: auto;
  max-width: 400px;
}

#sponsorOutput {
  position: absolute;
  height: auto;
  max-width: 640px;
  bottom: 0;
  color: black;
  font-size: 1.7em;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: white;
  padding: 10px;
}

.ui-button {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 1.3em !important;
}
