/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: sans-serif;
  background-color: black;
  overflow-x: hidden;
}

.elevator {
  position: fixed;
  width: 550px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: gray;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;
}

#button .ui-selecting {
  background: darkgrey;
  color: gray;
  border-color: gray;
}

#button:hover {
  cursor: pointer;
}

#button .ui-selected {
  background: darkgrey;
  color: red;
  border-color: red;
}

#button .ui-state-default {
  margin: 5px;
  margin-right: 20px;
  padding: 0px;
  padding-top: 10px;
  background: darkgrey;
  position: relative;
  float: right;
  text-shadow: 2px 2px 1px #555555;
  width: 70px;
  height: 60px;
  font-size: 40px;
  top: 50px;
  text-align: center;
  border-width: thick;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 50%;
}

#floor {
  background-color: black;
  font-family: 'VT323', monospace;
  position: relative;
  padding: 0px 40px;
  width: 200px;
  left: 30%;
  top: 20px;
  text-align: right;
  color: red;
  font-size: 100px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#doors {
  width: 10000px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: silver;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#behindDoor {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
