/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

html {
  font-family: 'Bad Script', cursive;
  background: linear-gradient(to bottom, #000000, #434343);
  min-height: 100%;
  overflow: hidden;
  transition: background-color 2s ease-in;
  background-color: transparent;
  color: white;
  padding: 0;
  margin: 0;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*************Menu UI*************/
#greeting {
  font-size: 2.5em;
  float: left;
  background-color: transparent;
  color: white;
  padding: 20px;
  z-index: 1;
  position: absolute;
}
#greeting:hover {
  cursor: default;
}
#options {
  animation: opac 2s;
  font-size: 1.5em;
  margin-top: 15%;
  width: 100%;
  height: 2em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex-wrap: wrap;
}
#options:hover {
  cursor: pointer;
}
span {
  animation: opac 3s;
  top: 0;
  left: 0;
  padding: 5px;
  margin: 0;
  font-size: 1.5em;
}
#options span {
  padding: 40px;
}
#back:hover {
  cursor: pointer;
}
#audio {
  animation: opac 3s;
  top: 0;
  right: 10px;
  padding: 5px;
  font-size: 1.5em;
  position: absolute;
}
#audio:hover {
  cursor: pointer;
}

#platformer {
  width: 100%;
  height: 42px;
  background: transparent;
  z-index: -2;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}

@keyframes opac {
  from {opacity:0} to {opacity:1}
}

/****Used by particlesJS and Phaser****/
canvas {
  bottom: 40px;
  left: 0px;
  display: block;
  position: fixed;
  z-index: -3;
}
